<connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source=(LocalDb)\v11.0;Initial Catalog=aspnet-Website-a2e8cf36-a325-449f-b568-17189cd32bff;AttachDbFilename=|DataDirectory|\aspnet-Website-a2e8cf36-a325-449f-b568-17189cd32bff.mdf;Integrated Security=SSPI" providerName="System.Data.SqlClient" />
    <add name="EatIn"
         connectionString="Data Source=.;Initial Catalog=eRestaurant;Integrated Security=SSPI"
         providerName="System.Data.SqlClient"/>
</connectionStrings>